<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>this is search screen of pyburger</h1>
    <div>
        <form method="GET">
            <input type="text" name="keyword">
            <button type="submit">search</button>
        </form>

    </div>

    <h2>result</h2>
    {% for i in burgers %}

        <div>
            {{ i.name }}
            (price : {{ i.price }}
            calories : {{ i.calories }})
        </div>

    {% endfor %}

</body>
</html>